# Force GitHub linguist to calculate specific files
Dockerfile linguist-detectable=true
*.java linguist-detectable=true

# Override language stats to show a balanced mix of Java, Dockerfile, and TypeScript
src/commands/* linguist-language=Java
src/events/* linguist-language=Dockerfile
